<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Video Player Backendt</title>
</head>
<body style="margin: 0; padding: 0;">
    <div style="height: 100vh; width: 100%;  display:flex ; flex-direction: column;  margin:0 ; padding: 0; background-color:indigo">
        <div style="border: 1px solid red; width: 250px; margin:auto ; padding:20px ; background-color:white">
          <h1>ABOUT. </h1>
          <p>Nothing here</p>
          <a href="/"><h2><-- Go back</h2></a>
        <div>
    </div>
</body>
</html>