<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloc | Video Player Backend</title>
</head>
<body style="margin: 0; padding: 0;">
    <div style="height: 100%; width: 100%; padding-top:10px; display: flex; flex-direction: column; justify-content: center; align-items: center;  margin:auto ; color:rgb(255, 131, 137) ; background-color:black; font-family: 'Trebuchet MS', sans-serif;"> 
        <h1>COUNT LINES OF CODE</h1>
        <h4>By Language</h4>
            <img src="/cloc.PNG" alt="CLOC" style=" padding: 10px"/>
        <h4>By File</h4>
            <img src="/clocbyfile.PNG" alt="CLOC" style=" padding: 10px"/>
    </div>
    
</body>
</html>