<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Model | Video Player Backend</title>
</head>
<body style="margin: 0; padding: 0;">
    <div style="height: 100dvh; width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;  margin:auto ; color:bisque ; background-color:black"> 
        <p>DATA MODEL</p>
        <img src="/ER Diagram video player model.png".png" alt="Data Modelling" style="height: 500px; width: 900px; padding: 20px"/>
        
    </div>
    
</body>
</html>