<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proposed UI | Video Player Backend</title>
</head>
<body style="margin: 0; padding: 0;">
    <div style="height: 100%; width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; margin:auto ; color:bisque ; background-color:black"> 
        <p>PROPOSED UI</p>
        <img src="/Backend video player project-UI_UX.drawio.png".png" alt="Proposed UI" style="height: 1000px; width: 1300px; padding: 20px"/>
    
</body>
</html>